body{ 
  /*background: #DFDFDF !important;*/
  color: #222;
}

.table>tbody>tr.success>td{
  /*background-color:#dff0d8*/
  background-color:#5cb85c
}
.table>tbody>tr.warning>td{
  /*background-color:#fcf8e3*/
  background-color:#f0ad4e
}
.table>tbody>tr.danger>td{
  /*background-color:#f2dede*/
  background-color:#F35D59
}
.table>tbody>tr.info>td{
  /*background-color:#d9edf7*/
  background-color:#5bc0de
}

.list-group-item-info {
  /*color: #31708F;*/
  color: #222;
  /*background-color: #D9EDF7;*/
  background-color: #D9EDF7;
}

