<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="{{ refresh_time }}">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/warboard.css">
  <link rel="icon" href="/static/images/favicon.png" type="image/png">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
    {% if pingdom_results['failed_pingdom'] > 0 %}
      <h1>Pingdom ({{ pingdom_results['working_percentage'] }}%)</h1>
    {% else %}
      <h1>Pingdom</h1>
    {% endif %}
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{ pingdom_results['down_percent'] }}%"></div>
        <div class="progress-bar progress-bar-info" role="progressbar" style="width:{{ pingdom_results['paused_percent'] }}%"></div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ pingdom_results['up_percent'] }}%"></div>
      </div>
      <table class="table">
        <thead>
          <tr class="lead"><th>Name</th><th>Type</th><th>Response</th></tr>
        </thead>
        <tbody>
        {% for check in pingdom_results['checks']|sort(attribute='lastresponsetime')|reverse %}
          {% if check['status'] == 'down' %}
		        <tr class="danger lead"><td>{{ check['name'] }}</td><td>{% filter upper %}{{ check['type'] }}{% endfilter %}</td><td>{{ check['lastresponsetime'] }} ms</td></tr>
		      {% endif %}
		    {% endfor %}
		    {% for check in pingdom_results['checks']|sort(attribute='lastresponsetime')|reverse %}
		      {% if check['status'] == 'paused' %}
		        <tr class="info lead"><td>{{ check['name'] }}</td><td>{% filter upper %}{{ check['type'] }}{% endfilter %}</td><td>{{ check['lastresponsetime'] }} ms</td></tr>
		      {% endif %}
		    {% endfor %}
		    {% for check in pingdom_results['checks']|sort(attribute='lastresponsetime')|reverse %}
		      {% if check['status'] == 'up' %}
		        <tr class="success lead"><td>{{ check['name'] }}</td><td>{% filter upper %}{{ check['type'] }}{% endfilter %}</td><td>{{ check['lastresponsetime'] }} ms</td></tr>
		      {% endif %}
		    {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-5">
    {% if resource_results['failed_accounts'] > 0 %}
      <h1>Resources ({{ resource_results['working_percentage'] }}%)</h1>
    {% else %}
      <h1>Resources</h1>
    {% endif %}
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{ resource_results['red_percent'] }}%"></div>
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{ resource_results['orange_percent'] }}%"></div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ resource_results['green_percent'] }}%"></div>
        <div class="progress-bar progress-bar-info" role="progressbar" style="width:{{ resource_results['blue_percent'] }}%"></div>
      </div>
      <table class="table">
        <thead>
          <tr class="lead"><th>Name</th><th>CPU</th><th>Memory</th><th>Disk IO</th><th>Disk Space</th></tr>
        </thead>
        <tbody>
        {% for check in resource_results['checks']|sort(attribute='orderby')|reverse %}
          {% if check['health_status'] == 'red' %}
		        <tr class="danger lead"><td>{{ check['name']|slice(resources_max_name_length) }}</td><td>{{ check['summary']['cpu']|slice(resources_cpu_max_figures) }}%</td><td>{{ check['summary']['memory']|slice(resources_memory_max_figures) }}%</td><td>{{ check['summary']['disk_io']|slice(resources_disk_io_max_figures) }}%</td><td>{{ check['summary']['fullest_disk']|slice(resources_fullest_disk_max_figures) }}%</td></tr>
		      {% endif %}
		    {% endfor %}
		    {% for check in resource_results['checks']|sort(attribute='orderby')|reverse %}
          {% if check['health_status'] == 'orange' %}
		        <tr class="warning lead"><td>{{ check['name']|slice(resources_max_name_length) }}</td><td>{{ check['summary']['cpu']|slice(resources_cpu_max_figures) }}%</td><td>{{ check['summary']['memory']|slice(resources_memory_max_figures) }}%</td><td>{{ check['summary']['disk_io']|slice(resources_disk_io_max_figures) }}%</td><td>{{ check['summary']['fullest_disk']|slice(resources_fullest_disk_max_figures) }}%</td></tr>
		      {% endif %}
		    {% endfor %}
		    {% for check in resource_results['checks']|sort(attribute='orderby')|reverse %}
          {% if check['health_status'] == 'green' %}
		        <tr class="success lead"><td>{{ check['name']|slice(resources_max_name_length) }}</td><td>{{ check['summary']['cpu']|slice(resources_cpu_max_figures) }}%</td><td>{{ check['summary']['memory']|slice(resources_memory_max_figures) }}%</td><td>{{ check['summary']['disk_io']|slice(resources_disk_io_max_figures) }}%</td><td>{{ check['summary']['fullest_disk']|slice(resources_fullest_disk_max_figures) }}%</td></tr>
		      {% endif %}
		    {% endfor %}
        {% for check in resource_results['checks']|sort(attribute='name') %}
          {% if check['health_status'] == 'blue' %}
            <tr class="info lead"><td>{{ check['name']|slice(resources_max_name_length) }}</td><td></td><td></td><td></td><td></td></tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-3">
      <h1>Sirportly Queues</h1>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{ sirportly_results['red_percent'] }}%"></div>
        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:0%"></div>
        <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ sirportly_results['green_percent'] }}%"></div>
      </div>
      <table class="table table-bordered">
        <tbody>
          <tr class="lead">
            <td class="col-sm-4">New <span class="pull-right">{{ sirportly_results['unassigned_tickets'] }}</span></td>
            <td class="col-sm-8">
              <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{ sirportly_results['unassigned_tickets'] * sirportly_results['multiplier'] }}%"></div>
              </div>
            </td>
          </tr>
          {% for user in sirportly_user_order %}
          <tr class="lead">
            <td class="col-sm-4">{{ sirportly_users[user] }}<span class="pull-right">{{ sirportly_results['users'][user+'_total'] }}</span></td>
            <td class="col-sm-8">
              <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{ sirportly_results['users'][user+'_red'] * sirportly_results['multiplier'] }}%"></div>
                <div class="progress-bar progress-bar-info" role="progressbar" style="width:{{ sirportly_results['users'][user+'_blue'] * sirportly_results['multiplier'] }}%"></div>
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ sirportly_results['users'][user+'_green'] * sirportly_results['multiplier'] }}%"></div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h1>Calendar</h1>
      {% for item in calendar_items %}
        {% for date in item %}
        <h3>{{ date }}</h3>
        <ul class="list-group">
        <li class="list-group-item list-group-item-info lead">{{ item[date]|safe }}</li>
        </ul>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
</body>
</html>
